.list{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.list-container{
    width: 90%;
    margin-top: 24px;
}


.MuiFab-root{
    background-color: #6750A4 !important;
    position: fixed !important;
    bottom: 56px !important;
    right: 24px !important;
    margin-left: 0 !important;
}


@media (max-width: 576px) {
    .list-container {
      padding: 24px 0px !important;
    }
  }
  

@media (max-width: 576px) {
}