.home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-pic{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img{
    width: 90%;
    border-radius: 40px;
}


.home-container {
    width: 40%;
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.logo {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 3em;
    background: #3191E4;
    background: linear-gradient(to left, #3191E4 70%, #381E72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.intro {
    opacity: 87%;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    width: 50%;
}

.feature {
    margin: 0 0 10px 0;
    font-weight: 400 !important;
}

.button {
    width: 345px;
    height: 44px !important;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 8px !important;
    border: none;
    background-color: #6750A4 !important;
    transition: 0.4s !important;
}

.button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.button:hover:after {
    opacity: 1;
    right: 10px !important;
}

.button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s !important;
}


@media (max-width: 1400px) {
    .intro {
        width: 70%;
    }
}

@media (max-width: 867px) {
    .home-pic{
        width: 65%;
    }
     
    
    .home-container {
        width: 45%;
    }

    .button{
        width: 90%;
    }

    .logo{
        font-size: 3em;
    }

    .intro {
        font-size: 1em;
    }
    
    .feature {
        font-size: .8em;
    }


}

@media (max-width: 768px) {
    .home {
        height: 100%;
        flex-flow: column;
        justify-content: space-between;
    }

    .home-container{
        width: 100%;
        height: 70%;
        margin-top: 24px;
    } 

    .text{
        margin-left: 24px !important;
    }

    .home-pic{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0 0 40px 40px;
    }

    .home-img{
        width: 100%;
        height: auto;
    } 

    .button{
        width: 60%;
    }
}


@media (max-width: 576px) {
    .home {
        height: 90%;
    }

    .home-container{
        height: 100%;
    }

    .home-pic{
        align-items: flex-start;
    }

    .home-img{
        border-radius: 0 0 40px 40px;
    }

    .button{
        width: 70%;
    }
}