.card{
    display: flex !important;
    flex-flow: row !important;
    width: 90% !important;
    box-shadow: none !important;
    border-bottom: .5px solid #00000017 !important;
    padding: 4px !important;
    margin-left: 0px !important;
}

.card-img{
    width: 110px !important;
    height: 110px !important;
    border-radius: 8px !important;
}

.card-content{
    padding: 8px 16px !important;
}

.participant-container{
    display: flex;
    flex-flow: row;
}

.card-participants-text{
    font-size: .9em !important;
    margin: 0 0 0 4px !important;
    color: black;
    opacity: 67%;
}

.card-header-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;   
}


.card-icon-container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 10%;
    opacity: 56% !important;
}

.MuiCardContent-root{
    width: 100%;
}


@media (max-width: 576px) {
    .MuiBox-root {
      display: inline;
    }
    .card-icon-container{
        width: 16%;
    }
  }
  