.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
}


.MuiBox-root {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  width: 100%;
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .app{
    width: 100%;
  }

  .App-body {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .MuiBox-root {
    display: inline;
  }
}
