.panel {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.panel-container {
  width: 90%;
  height: 80%;
  padding-top: 24px;
}

.name-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 24px 0;
  border-bottom: 0.5px solid #00000017;
}

.panel-username {
  margin: 0 16px;
}

.brand-info-container {
  padding: 24px 0;
  display: flex;
  flex-flow: column-reverse;
}

.brand-info {
  font-size: 0.8em;
}


.panel-icons{
  margin: 0;
}